
config ZMK_SPLIT_WIRED_UART_MODE_INTERRUPT

if SHIELD_KRANKBOARD_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
config ZMK_KEYBOARD_NAME
    default "krankboard"

endif

if SHIELD_KRANKBOARD_LEFT || SHIELD_KRANKBOARD_RIGHT

config LOG_PROCESS_THREAD_STARTUP_DELAY_MS
	default 8000
	
config ZMK_SPLIT
	default y
	
config ZMK_SPLIT_WIRED
	
endif