#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/{
	keymap {
		compatible = "zmk,keymap";
		
		default_layer {
			display-name = "Base";
			bindings = <
				&kp ESC		&kp N1		&kp N2			&kp N3	&kp N4	&kp N5		&mo 1	&kp NUMBER_2	&kp NUMBER_3					&kp NUMBER_1		&kp NUMBER_2		&kp NUMBER_3		&kp N6		&kp N7		&kp N8		&kp N9		&kp N0		&kp BSPC
				&kp TAB		&kp Q		&kp W			&kp E	&kp R	&kp T		&kp NUMBER_4	&kp NUMBER_5	&kp NUMBER_6				&kp NUMBER_4		&kp NUMBER_5		&kp NUMBER_6		&kp Y		&kp U		&kp I		&kp O		&kp P		&kp ENTER
				&kp LCTRL	&kp A		&kp S			&kp D	&kp F	&kp G		&kp NUMBER_1	&kp NUMBER_2	&kp NUMBER_3				&kp NUMBER_1		&kp NUMBER_2		&kp NUMBER_3		&kp H		&kp J		&kp K		&kp L		&kp SEMI	&kp SINGLE_QUOTE
				&kp LSHIFT	&kp Z		&kp X			&kp C	&kp V	&kp B		&kp NUMBER_4	&kp NUMBER_5	&kp NUMBER_6				&kp NUMBER_4		&kp NUMBER_5		&kp NUMBER_6		&kp N		&kp M		&kp COMMA	&kp PERIOD	&kp MINUS	&kp EQUAL
				&kp SPACE												&kp LEFT_GUI	&kp LEFT_ALT											&kp SPACE																			&kp LBKT	&kp RBKT					
			>;
		};
		
		bt_layer {
			display-name = "BT";
			bindings = <
				&kp ESC		&kp N1		&kp N2			&kp N3	&kp N4	&kp N5		&kp NUMBER_1	&kp NUMBER_2	&kp NUMBER_3				&kp NUMBER_1		&kp NUMBER_2		&kp NUMBER_3		&kp N6		&kp N7		&kp N8		&kp N9		&kp N0		&kp BSPC
				&kp TAB		&kp Q		&kp W			&kp E	&kp R	&kp T		&kp NUMBER_4	&kp NUMBER_5	&kp NUMBER_6				&kp NUMBER_4		&kp NUMBER_5		&kp NUMBER_6		&kp Y		&kp U		&kp I		&kp O		&kp P		&kp ENTER
				&kp LCTRL	&kp A		&kp S			&kp D	&kp F	&kp G		&studio_unlock	&kp NUMBER_2	&kp NUMBER_3				&kp NUMBER_1		&kp NUMBER_2		&kp NUMBER_3		&kp H		&bt BT_SEL 0		&bt BT_SEL 1		&bt BT_SEL 2		&kp SEMI	&kp SINGLE_QUOTE
				&kp LSHIFT	&kp Z		&kp X			&kp C	&kp V	&kp B		&bt BT_SEL 0	&bt BT_SEL 1	&kp &bt BT_SEL 2				&kp NUMBER_4		&kp NUMBER_5		&kp NUMBER_6		&kp N		&kp M		&kp COMMA	&kp PERIOD	&kp MINUS	&kp EQUAL
				&kp SPACE												&kp LEFT_GUI	&kp LEFT_ALT											&kp SPACE																			&kp LBKT	&kp RBKT												
			>;
		};
	};
};
